##########################
# VS Code
##########################
.vscode/

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

##########################
## Artifacts
##########################
*.tgz
*.tar.gz

##########################
## Files
##########################
files/
